---
import Layout from "../layout/Layout.astro";


---

<Layout title="Projects | Sneharsh Belsare">
  <div class="p-2 sticky top-0 left-0">
    <a
      class="h-12 w-28 md:w-28 rounded-md text-white bg-slate-800/40 backdrop-blur-sm flex justify-center items-center cursor-pointer text-lg hover:bg-slate-800/60 transition-all duration-200"
      href="/portfolio"
      transition:name="projects-hero"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 mr-2 -ml-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"></path>
      </svg>
       Back
    </a>
  </div>
  <div class="h-100-dvh max-w-7xl mx-auto bg-white text-black p-4 font-mono fade-up">
    <!-- Header -->
    <div
      class="text-5xl mt-5 font-bold bg-gradient-to-br from-red-400 to-purple-600 bg-clip-text text-transparent"
    >
      My Projects
    </div>
    <br />

    
    <br>
  </div>
</Layout>
